.custom-btn {
    max-width: 100%;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    // font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-radius: 5px;
  
    &:hover {
      background-color: rgba(7, 6, 6, 0.863);
      color: rgb(255, 255, 255);
      border: transparent;
    }
    &.google-sign-in{
      color: #fff;
      background: rgb(0, 47, 255);
      border-radius: 5px;
      &:hover{
        background: rgba(5, 18, 206, 0.911);
        border: transparent;
        color: #fff;
      }
    }
  }
  